<h3 class="white"><%= @violation.address %></h3>
<h4 class="white">Total Violations Last Year: <%= @violation.total %></h4>

<div class="white">
<% if @violation.total < 8  %>
	<p class="green">This is below average.  Risk level is low.</p>
	<% elsif @violation.total > 8 && @violation.total < 20  %>
	<p class="orange">This is above average.  Risk level is moderate.</p>
	<% else %>
	<p class="red">This is way above average.  Risk level is high.</p>
<% end %>
</div>


