<% if !valid_address?  %>
<div class="ui-form">
<% @violation = Violation.new(:total => 0, :address => "No tickets associated with address." ) %>
</div>
<% end  %>

	<%= render @violation %>

<button class="btn-form-again" id="search-again">Search Again</button>

	<%= render 'violations/sms' %>