<% if !valid_address?  %>

<% @violation = Violation.new(:total => 0, :address => "There are no tickets associated with this address." ) %>

<% end  %>

	<%= render @violation %>

<button class="btn-form" id="search-again">Search Again</button>

	<%= render 'violations/sms' %>