<h1 id="search-header">Search</h1>

<%= simple_form_for @violation do |f| %>
	<%= f.input :address, :url => autocomplete_address_violations_path, :as => :autocomplete  %>
	<%= f.button :submit, "Search" %>
<% end  %>
