<h3 class="white">Enter An Address to Check Your Parking Ticket Risk</h3>

<%= simple_form_for @violation do |f| %>
	<%= f.input :address, label: false, :url => autocomplete_address_violations_path, :as => :autocomplete  %>
	<%= f.button :submit, "SEARCH", :class => 'btn-lg btn-blue' %>
<% end  %>
