/************************
Designed by : http://responsivewebinc.com
************************/
/* Open Sans  */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,600,700');
/* General */
body {
	color: #666666;
	font-size: 13px;
	line-height: 23px;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 2px 0px;
	padding: 0px;
}
h1 {
	font-size: 30px;
	line-height: 45px;
}
h2 {
	font-size: 25px;
	line-height: 40px;
}
h3 {
	font-size: 22px;
	line-height: 37px;
}
h4 {
	font-size: 18px;
	line-height: 33px;
}
h5 {
	font-size: 15px;
	line-height: 30px;
}
h6 {
	font-size: 13px;
	line-height: 28px;
}
p {
	margin: 2px 0px;
	padding: 0px;
	line-height:28px;
	margin-bottom:5px;
}
a{
	text-decoration: none;
	color: #777;
}
a:hover,a:active,a:focus {
	outline: 0;
	text-decoration: none;
	color: #999;
}
hr {
	margin: 10px 0px;
	padding: 0px;
	border-top: 0px;
	border-bottom: 1px solid #eee;
}
:focus {
	outline:none;
}
::-moz-focus-inner {
	border:0;
}


/* General */
header{
	padding:100px 50px;
	text-align:center;
	color:#fff;
}
header h1{
	font-size:70px;
	line-height:80px;
	font-weight:700;
}
@media (max-width:767px){
	header h1{
		font-size:40px;
		line-height:50px;
		font-weight:700;
	}
}
header h1 a{
	color:#fff;
}
header h1 a:hover{
	color:#fff;
}
header p{
	font-size:22px;
	line-height:40px;
	max-width:700px;
	margin:10px auto;
}
header p span{
	border-bottom:1px dashed #fff;
}
.features{
	margin:50px auto;
	max-width:1050px;
	text-align:center;
}
.features h2{
	max-width:700px;
	font-size:27px;
	line-height:40px;
	margin:0px auto;
	text-transform:uppercase;
}
.features .f-item{
	margin:20px auto;
	max-width:350px;
}
.features h3{
	font-size:18px;
	line-height:33px;
	font-weight:600;
}
.features p{
	font-size:15px;
	line-height:30px;
	color:#777;
}
.wonderland{
	text-align:center;
	margin:0px auto;
	max-width:1050px;
}
.wonderland .w-nav{
	margin:0px 0px 30px 0px;
}
.wonderland .w-nav a{
	display:inline-block;
	font-size:15px;
	margin:7px 5px;
	line-height:30px;
	font-weight:600;
	background:#fafafa;
	padding:2px 10px;
	border:1px solid #ddd;
	color:#888;
}
.wonderland .w-nav a:hover{
	color:#888;
	background:#f6f6f6;
}
.wonderland h2{
	max-width:700px;
	font-size:27px;
	line-height:40px;
	margin:0px auto;
	margin-bottom:20px;
	text-transform:uppercase;
}
.wonderland h3{
	text-align:left;
	font-size:20px;
	line-height:35px;
	margin-top:20px;
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px solid #eee;
}
.wonderland img{
	border:1px solid #d7d7d7;
	width:100%;
	max-width:250px;
	display:block;
	margin:0px auto 0px auto;
	border-radius:3px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
}
.wonderland h5{
	max-width:250px;
	margin:0px auto;
	margin-bottom:25px;
	text-transform:uppercase;
	font-size:13px;
	line-height:40px;
	color:#999;
	background:#fafafa;
	border:1px solid #d7d7d7;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}
.contact{
	margin:10px auto;
	max-width:1050px;
	text-align:center;
}
.contact h2{
	max-width:700px;
	font-size:27px;
	line-height:40px;
	margin:0px auto;
	margin-bottom:20px;
	text-transform:uppercase;
}
.contact p{
	max-width:600px;
	margin:10px auto 130px auto;
	font-size:20px;
	line-height:35px;
}
.totop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 104400;
}
.totop a i{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 25px;
	background: rgba(60,60,60,0.5);
}
.totop a:hover i { background: rgba(60,60,60,1); }
.totop a, .totop a:visited{
	color: #fff;
}
.totop a:hover {
	color: #eee;
	text-decoration: none;
}